body {
    display: flex;
    flex-direction: column;
    background-color: rgb(174, 184, 190);
    margin: 0;
    padding: 100px;
    width: 100vw;
    min-height: 100vh;
}

.containers {
    display: flex;
    background-color: rgb(174, 184, 190);
    width: fit-content;
    height: fit-content;
}

div {
    width: 460px;
    height: 200px;
    background-color: teal;
    justify-content: space-evenly;
    margin: 10px;
    padding: 20px;
}
#bottomRectangle {
    width: 1500px;
    height: 400px;
    background-color: teal;
}
